body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    grid-template-columns: 1fr 1fr;
   
}


header {
    background: green;
    color: white;
    text-align: center;
    padding: 40px 20px;
    grid-column: 1 / -1;
}

h1 {
    color: #fc3;
    margin: 0 0 10px 0;
    font-weight: normal;
    font-size: 3em;
}

h3 {
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
}


main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0; 
    padding: 20px;
}


article {
    background-color: red;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;

}

article h2 {
    margin-top: 0;
    font-size: 2em;
 
}

article img {
    max-width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
}


section {
    background-color: green;
    color: white;
    padding: 20px;
}

section h3 {
    margin-bottom: 15px;
    font-size: 1.3em;
}

section p
 {
    line-height: 1.6;
}


footer {
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
    grid-column: 1 / -1;
}

    
    h1 {
        font-size: 2em;
    }

    article:first-child {
        border-right: 2px solid black;
    }

    a {
        background-color: transparent;
        color: #fc3;
        border: 2px solid #fc3;
    }